<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
    <ion-title>{{categoria}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="card mb-3" *ngFor="let rs of noticia">
    <img src="{{rs.urlToImage}}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{rs.title}}</h5>
      <p class="card-text">{{rs.description}}</p>
      <p class="card-text"><small class="text-muted">{{rs.publishedAt | date:'dd/MM/yyyy hh:mm:ss' }}</small></p>
    </div>
  </div>
</ion-content>
